

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #0f172a;
  color: white;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  padding: 60px 20px;
}

h1 {
  font-size: 40px;
  color: #38bdf8;
}

p {
  font-size: 18px;
  color: #e5e7eb;
}

button {
  margin-top: 20px;
  padding: 12px 24px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  background-color: #38bdf8;
  color: #0f172a;
  cursor: pointer;
}

button:hover {
  background-color: #0ea5e9;
}
